<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bank Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bank Details</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Bank Name:</ion-label>
          <ion-text>INDUSIND BANK LTD</ion-text>
        </ion-item>

        <ion-item>
          <ion-label>Account Number:</ion-label>
          <ion-text>250003032023</ion-text>
        </ion-item>

        <ion-item>
          <ion-label>IFSC Code:</ion-label>
          <ion-text>INDB0001448</ion-text>
        </ion-item>

        <ion-item>
          <ion-label>Branch:</ion-label>
          <ion-text>Town Center CIDCO</ion-text>
        </ion-item>
      </ion-list>
      <ion-img
src="../../assets/qr-forbank.png"
alt="The Wisconsin State Capitol building in Madison, WI at night"
class="p-4"
></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
