<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Incomes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Incomes</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="p-3">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item" *ngFor="let level of [1, 2, 3, 4, 5, 6]; let i = index">
          <div class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + level" aria-expanded="false" [attr.aria-controls]="'collapse' + level">
              Level {{level}}
            </button>
          </div>
          <div [id]="'collapse' + level" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div >
                <div class="card" >
                  <div class="card-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">UserID</th>
                          <th scope="col">Amount</th>
                          <th scope="col">Level</th>
                          <th scope="col">Status</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let item of payments">
                        <tr [ngClass]="getStatusClass(item.status)" *ngIf="item.level==level">
                          <td>{{ item.whos }}</td>
                          <td>₹{{ item.amount }}</td>
                          <td>{{ item.level }}</td>
                          <td>{{ item.status }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-warning">
                Total Income Genrated: ₹{{ getTotalUsersByLevel(level) }}
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</ion-content>
