<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Company Documents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  class="zoomable-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Company Documents</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img
  src="../../assets/SPICE + Part B_Approval Letter_AA1427711.png"
  alt="The Wisconsin State Capitol building in Madison, WI at night"
></ion-img>
<div class="text-center">Certificate of Incorporation</div>
<hr>
<ion-img
src="../../assets/pan.png"
alt="The Wisconsin State Capitol building in Madison, WI at night"
class="p-4"
></ion-img>
<div class="text-center">PAN Card</div>
<ion-img
src="../../assets/431003_TAN (1).png"
alt="The Wisconsin State Capitol building in Madison, WI at night"
class="p-4"
></ion-img>
<div class="text-center">TAN Number</div>
</ion-content>
